.footer{
  background-color: var(--second-brand-color);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer > img{
  height: 300px;
  width: 300px;
}

.iconsContainer{
  margin-bottom: 50px;
}

.icon{
  height: 50px;
  width: 50px;
  margin-right: 20px;
}